# RPC URLs
VITE_AVALANCHE_FUJI_RPC=https://avalanche-fuji.drpc.org
VITE_BASE_RPC=https://mainnet.base.org

# Privy Configuration
VITE_PRIVY_APP_ID= "Privy APP ID"
VITE_PRIVY_APP_SECRET= "Privy APP SECRET"
VITE_PRIVY_JWKS_ENDPOINT= "Privy JWKS ENDPOINT"
VITE_PRIVY_PUBLIC_KEY= "Privy PUBLIC KEY"
VITE_PRIVY_WEB_APP_CLIENT="Privy WEB APP CLIENT"
