/* Main CSS Entry */
@import './styles/variables.css';
@import './styles/components.css';
@import './styles/Header.css';
@import './styles/StockList.css';
@import './styles/StockDetail.css';
@import './styles/Modals.css';
@import './styles/App.css';
